<div class="coluna">
  <div class="espaco">
    <div class="sensor s1">
      <span></span>
    </div>
    <div class="sensor s2">
      <span></span>
    </div>
    <div class="sensor s3">
      <span></span>
    </div>
    <div class="sensor s4">
      <span></span>
    </div>
    <div class="rampa">
      <div class="carrinho"></div>
    </div>
    <div class="comprimento">
      <span class="bar"></span>
      <span class="text">2 m</span>
      <span class="bar"></span>
    </div>
  </div>
</div>
