h2 {
  font-size: 1.1rem;
  color: #131313;
}

.coluna {
  display: flex;
  flex-wrap: wrap;

  .grafico {
    flex: 1 0 65%;
    width: 65%;
  }

  .pendulo {
    flex: 1 0 35%;
    width: 35%;
  }

  .tabela {
    flex: 1 0 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

