h2 {
  font-size: 1.4rem;
  color: #131313;
}

.coluna {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;

  .grafico {
    flex: 1 0 50%;
    width: 50%;
  }

  .pendulo {
    flex: 1 0 35%;
    width: 35%;
  }

  .tabela {
    flex: 1 0 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

