.grafico-content {
  padding: 24px 0;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.2rem;
    color: #404040;
  }
}

.tt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 14px;

  ul {
    padding: 0;
    list-style: none;
  }

  span {
    //margin-bottom: 5px;
    font-weight: 600;
  }
}

.tt2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 14px;

  span {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    margin-right: 8px;
  }
}


