<mat-table [dataSource]="dataSource" class="mat-elevation-z1">
  <!-- Position Column -->
  <ng-container matColumnDef="altura">
    <mat-header-cell *matHeaderCellDef> Altura (m)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.altura}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tempo1">
    <mat-header-cell *matHeaderCellDef> Tempo 1 (s)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo1}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tempo2">
    <mat-header-cell *matHeaderCellDef> Tempo 2 (s)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo2}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tempo3">
    <mat-header-cell *matHeaderCellDef> Tempo 3 (s)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo3}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
