<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="altura">
    <mat-header-cell *matHeaderCellDef> Altura</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.altura}} cm </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tempo1">
    <mat-header-cell *matHeaderCellDef> Primeira verificação</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo1}}s </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tempo2">
    <mat-header-cell *matHeaderCellDef> Segunda verificação</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo2}}s </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tempo3">
    <mat-header-cell *matHeaderCellDef> Terceira verificação</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo3}}s </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
