<div class="content">

  <div class="grafico">
    <!-- <h2>Teste Highcharts</h2> -->
    <div id="grafico-posicao-tempo"></div>
  </div>

  <div class="grafico">
    <!-- <h2>Teste Highcharts</h2> -->
    <div id="grafico-velocidade-media"></div>
  </div>

  <div class="grafico">
    <!-- <h2>Teste Highcharts</h2> -->
    <div id="grafico-aceleracao-media"></div>
  </div>

  <div class="grafico">
    <!-- <h2>Teste Highcharts</h2> -->
    <div id="grafico-potencial-media"></div>
  </div>

</div>