.content {
  display: flex;
  flex-direction: column;

  .grafico {

    flex: 1;
    margin: 20px 0;

    h2 {
      font-size: 1rem;
      color: #404040;
    }
  }

}


.tt {
  font-size: 13px;
  padding: 5px 10px;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 3px 0;

      span {
        font-weight: 600;
      }
    }
  }
}

.tt2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 13px;

  span {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    margin-right: 8px;
  }
}
