<mat-table [dataSource]="dataSource" class="mat-elevation-z1">
  <!-- Position Column -->
  <ng-container matColumnDef="distancia">
    <mat-header-cell *matHeaderCellDef> Distância (m)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.distancia}} </mat-cell>
  </ng-container>

  <!-- Tempo Column -->
  <ng-container matColumnDef="tempo">
    <mat-header-cell *matHeaderCellDef> Tempo (s)</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tempo}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
