h2 {
  font-size: 1.4rem;
  color: #131313;
}

h3 {
  font-size: 1.2rem;
  color: #131313;
}

.content {
  display: flex;

  .coluna {
    flex: 0 1 50%;
    margin: 10px 15px;
    padding: 15px;
    border-radius: 4px;
    overflow: hidden;

    svg {
      width: 100%;
    }
  }
}
